name: Build and deploy Next.js app to Azure Web App

on:
    push:
        branches:
            - main
    workflow_dispatch:

env:
    APPLICATION_PUBLISH_PROFILE: ${{ secrets.APP_PUBLISH_PROFILE }}
    WEBAPP_NAME: "KRALIK-RAG"

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up Node.js version
              uses: actions/setup-node@v4
              with:
                  node-version: "20.x"

            - name: npm install, build, and test
              env:
                  AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
                  BCRYPT_SALT_ROUNDS: ${{ secrets.BCRYPT_SALT_ROUNDS }}
                  AUTH_MICROSOFT_ENTRA_ID_ID: ${{ secrets.AUTH_MICROSOFT_ENTRA_ID_ID }}
                  AUTH_MICROSOFT_ENTRA_ID_SECRET: ${{ secrets.AUTH_MICROSOFT_ENTRA_ID_SECRET }}
                  AUTH_MICROSOFT_ENTRA_ID_ISSUER: ${{ secrets.AUTH_MICROSOFT_ENTRA_ID_ISSUER }}
                  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
                  MONGODB_URI: ${{ secrets.MONGODB_URI }}

              run: |
                  npm install
                  npm run build
                  mv ./build/static ./build/standalone/build
                  mv ./public ./build/standalone

            - name: "Deploy to Azure Web App"
              id: deploy-to-webapp
              uses: azure/webapps-deploy@v3
              with:
                  app-name: ${{ env.WEBAPP_NAME }}
                  slot-name: "Production"
                  publish-profile: ${{ env.APPLICATION_PUBLISH_PROFILE }}
                  package: ./build/standalone
